@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<link rel="stylesheet" href="~/css/CommonStyle.css" />
<div class="home-container">
    <h1>Customer Table</h1>
    <div class="table-responsive">
        <!-- Make the table responsive -->
        <table class="table">
            <thead>
                <tr>
                    <th>CustomerId</th>
                    <th>CustomerName</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Address</th>
                    <th>Actions</th> <!-- Add header for action buttons -->
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.CustomerName</td>
                        <td>@customer.Email</td>
                        <td>@customer.Password</td>
                        <td>@customer.Address</td>
                        <td>
                            <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId">
                                <button type="button">Edit</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
